@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div{
    /* margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 600px; */
    /* margin: 100px 100px 200px 300px; */
}
#first{
    margin-left: 50px;
    background-color: red;
    color: white;
    padding: 10px 50px;
    border: 5px solid black;
    border-radius: 10px 5px 20px 50px;
    cursor: pointer;
    /* transform: translate(20px,100px); */
    transform: scale(1.2);
    /* transform: rotate(90deg); */
}
.first{
    text-align: center;
}

.span{
    display: block;
    width: 500px;
    text-align: center;
    /* text-transform: uppercase; */
    text-transform: capitalize;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    text-decoration: overline;
    text-shadow: 2px .5px red;
    font-size: 50px;
    font-weight: 900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.box{
    /* background-color: red; */
    /* height: 400px;
    width: 500px; */
    /* box-shadow: 10px 2px 3px 5px black; */
    /* background-image:  */
   /* linear-gradient(#000000c4, #6969adbd, #02ff0257), url('./download.jpeg'); */
   /* background-repeat: no-repeat; */
    /* background-size: cov; */
    /* float: left; */
}

/* positions */

/* Static
Fixed
Sticky
relative
absolute */

/* #first{ */
    /* position: fixed; */
    /* position: sticky;
    top: 0;
    left: 0;
} */

/* .box{
    position: relative;
    width: 2120px;
    height: 100vh;
    background-color: rgb(0, 255, 0);
}
.box1{
    position: absolute;
    top: 75vh;
    left: 70vw;
    width: 50px;
    height: 50px;
    background-color: red;
}
 */
